<template>
  <div id="app">
    <mcv-topbar />
    <router-view></router-view>
  </div>
</template>

<script>
import {actionTypes} from '@/store/modules/auth'
import McvTopbar from "@/components/Topbar";

export default {
  name: 'App',
  components: {
    McvTopbar
  },
  mounted() {
    this.$store.dispatch(actionTypes.getCurrentUser)
  }
}
</script>

